<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Wuba-luba-dub-dub</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"> 
</head>
 
<body>
 
    <div class="container">
 		
        <div class="jumbotron">
            <h1>Share-for-Care</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="rick" role="button">Rick</a>
            <p><a class="btn btn-lg btn-success" href="morty" role="button">Morty</a>
            </p>
        </div> 
        <footer class="footer">
            <p>&copy; Share-for-Care 2017</p>
        </footer>
 
    </div>
</body>
 
</html>