<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Wuba-luba-dub-dub</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"> 
    

</head>
 
<body>
 
    <div class="container">

        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="#"> Hello, </a>
                    </li>
                    <li role="presentation"><a href="showMyacc"> Rick</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Care-Update-Save</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Share-for-Care</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showNotify" role="button">Notify now</a>
            </p>
        </div>

          <iframe width="1000" height="700" frameborder="2" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJkbeSa_BfYzARphNChaFPjNc&key=AIzaSyDqR6zSdXG3kV1inSxIwdjVOFLszk0oR5I" allowfullscreen></iframe>
          
        <footer class="footer">
            <p>&copy; Share-for-Care 2017</p>
        </footer>
 
    </div>

</body>
 
</html>